{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>My Admin</title>
</head>
<body>
    <h1 class='text-center'>Customer Summery</h1>
    <br>
<div class='container center '>
	<div class="row g-4 ">
   

		{% for order in orders %}

		<div class="col-lg-8 p-3 ">


       
            <div class="box-element text-center">
  
<table class="table ">
  <thead>
  <tr> 
   <h3 class='text-center' > <strong>{{order.customer}}</strong>  </h3>
  </tr>
    <tr>
      <th scope="col">Product Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Unit Price</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
 {% for item in items  %}
 {% if item.order == order %}
    <tr>
      <td>{{item.products.name}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.products.price}}</td>
      <td>{{item.get_total}}</td>
    </tr>
    {%endif%}
    {% endfor %}
       <tr>
      <td></td>
      <td></td>
      <td><strong>Cart Total: {{order.cart_total_item}} </strong></td>
      <td><strong> Grand Total: $ {{order.grand_total}} </strong></td>
    </tr>



    
   

  </tbody>
</table>
</div>
</div>

<br>
<br><br>
  {%endfor%}
 </div>
    </div>
   </div>
</body>
</html>